{% extends 'Student/common_pa.html' %}
{% load static %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% block content %}
	
	<section class="hero-wrap" style="background-image: url('../static/images/bg_2.jpg');height: 350px;">
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<!-- <p class="breadcrumbs"><span class="mr-2"><a href="/parenthome">Home <i class="fa fa-chevron-right"></i></a></span> <span>Chat with Tutor<i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">Chat with Tutor</h1> -->
				</div>
			</div>
		</div>
	</section>
	
	 <section class="ftco-section">
		<!-- <div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4"> -->
									<h4 class="mb-4" style="margin-left: 540px;">Chat with Tutor</h4>
                                    <script src="https://kit.fontawesome.com/37b411113e.js" crossorigin="anonymous"></script> 
                                    <br>
<div class="container-fluid content-top-gap" style="width: 80%;">
    <!-- chatting -->
    <div class="data-tables">
        <div class="row">
            <div class="col-lg-12 chart-grid mb-4">
                <div class="card card_border p-4"
                    style="background-image:  url('/static/media/profile/chat_bg.png'); border-radius: 20px; ">
                    <div class="card-header chart-grid__header pl-0 pt-0 ">
                        <b style="margin: 10px;margin-top: 20px;">Chatting</b>
                    </div>
                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="inbox_people">
                                <!-- <div class="headind_srch">
                     <div class="srch_bar">
                        <div class="stylish-input-group">
                        <input type="text" class="search-bar" placeholder="Search Chat">
                        <span class="input-group-addon">
                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span> </div>
                    </div> 
                    </div> -->
                            </div>
                            <div class="mesgs">
                                {% if chats %}

                                <div class="msg_history">
                                    {% for message in chats %}
                                    {% if message.type == "parent" %}
                                    <div class="outgoing_msg" style="margin-left: 600px;">
                                        <div class="sent_msg">
                                            <p>{{i.teacher.username5}}</p>
                                            <p
                                                style="text-transform: unset; background-color: rgb(192, 213, 252);width: 400px;padding: 10px;border-radius: 10px;color: black;">
                                                <span
                                                    style="color: gray; font-size: 10px;">{{message.sender.name}}</span>
                                                <br>
                                                {{message.message}} <br><span class="time_date"
                                                    style="font-size: 10px;"><span class="time_date">
                                                        {{message.date}}|{{message.time}}</span>
                                            </p>

                                        </div>
                                    </div>
                                    {% else %}

                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img">
                                            <img src="/static/chat/media/du1.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">

                                                <p
                                                    style="text-transform: unset; background-color: rgb(192, 213, 252);width: 400px;padding: 10px;border-radius: 10px;color: black;">
                                                    <!-- <img src="/static/media/{{message.receiver.image}}" style="width: 20px; height: 20px; border-radius: 10px;" alt=""> -->
                                                    <span
                                                        style="color: gray; font-size: 10px;">{{message.receiver.name}}</span>
                                                    <br>
                                                    <span> {{message.message}}</span> <br><span class="time_date"
                                                        style="font-size: 10px;">
                                                        {{message.date}}{{message.time}}</span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div class="type_msg"><br>
                                    <div class="input_msg_write">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="text" name="message" class="form-control"
                                                placeholder="Type a message" /> <br>
                                            <button type="submit" style="float: right;position: relative;top: -62px;"
                                                class="btn btn-success" type="button">Send&nbsp;<i
                                                    class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                            <p></p>
                                        </form>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //chatting -->
</div>
</section>

{% if msg %}
<script>
    alert("{{msg}}");
</script>
{% endif %}

{% endblock %}


	