{% extends 'Tutor/common_tu.html' %}
{% load static %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% block content %}
	
	<section class="hero-wrap" style="background-image: url('../static/images/bg_2.jpg');height: 350px;">
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<!-- <p class="breadcrumbs"><span class="mr-2"><a href="/tutorhome">Home <i class="fa fa-chevron-right"></i></a></span> <span>View booking<i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">View booking</h1> -->
				</div>
			</div>
		</div>
	</section>
	
	<section class="ftco-section">
		
							<div class="col-lg-12 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">View booking</h3>
									<table class="table table-hover" cellspacing="2" cellpadding="2">
                                        <thread>
                                          <tr class="table-info">
											<th scope="col">Studentname</th>
                                              <th scope="col">Mode</th>
                                              <th scope="col">Time</th>
                                              <th colspan="3" scope="col">Action</th>
                                          </tr>   
                                          {% for i in data %}
                                        </thread>
                                        <tbody>
                                          <tr>
											<td>{{i.student.Username2}}</td>
                                            <td>{{i.booking_type1}}</td>
                                            <td>{{i.booking_time1}}</td>
											
                                            {% if i.status == 'pending' %}
                                            <td><a href="/actionbookingst?id={{i.id}}&status=1" class="btn btn-success">Approve</a></td>
                           
											<td><a href="/deletebookingst?id={{i.id}}" class="btn btn-success">Reject</a></td>
											
											{% elif i.status == 'Request_demo' %}
											<td><a href="/addrequestdemo?id={{i.id}}" class="btn btn-success">Upload</a></td>
											{% else%}
                                            <td>{{i.status}}</td>
											{% endif %}
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table> 
								</div>
							</div>
                        </div>
	</section>
	{% endblock %}


	

	